/*reset*/
body,p,ol,ul,li,dl,dd,dt,
h1,h2,h3,h4,h5,h6,input,i{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
	outline:none;
	border:0;
	font-style:normal;
}

/* INTRODUCTION */
.navLeft{
	width:18%;
	float:left;
	margin-top:70px;
	margin-left:2%;
}
.navLeft ul{
	border-left:1px solid #a6a6a6;
}
.navLeft ul li{
	position:relative;
	height:55px;
}
.navLeft ul li a{
	font-size:18px;
	line-height:55px;
	padding-left:10px;
	color:#999;
}
.navLeft ul li.current a{
	color: #000;
	line-height:35px;
}
.navLeft ul li p{
	position: absolute;
	left:10px;
	bottom:3px;
	font-size:14px;
	color: #000;
}
.navLeft ul li span{
	position:absolute;
	top:0;
	left:-2px;
	height:55px;
	width:3px;
	background-color:#000;
}
.content{
	width:78%;
	float:right;
	margin-top:70px;
	margin-right:2%;
	margin-bottom:50px;
}
.content > img{
	width:100%;
}
.content > p{
	font-size:14px;
	line-height:35px;
	color:#777;
	text-align:justify;
	text-indent:25px;
}
/* CULTURE */
.content ul.cultureUl{
	width:100%;
	overflow:hidden;
}
.content ul.cultureUl li{
	float:left;
	position:relative;
	width:32%;
	margin:20px 1% 0 0;
}
.content ul.cultureUl li h2{
	position:absolute;
	left:50%;
	top:25%;
	font-size:25px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	color:#fff;
}
.content ul.cultureUl li p{
	position:absolute;
	left:50%;
	top:50%;
	font-size:25px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	color:#fff;
}
.content ul.cultureUl li img{
	width:100%;
}
/* VISION AND MISION */
.content ul.vision li{
	position:relative;
	width:46%;
	float:left;
	margin:0 2%;
	border:1px solid #eee; 
}
.content ul.vision li img{
	width:100%;
}
.content ul.vision li div.title{
	position:absolute;
	left:0;
	bottom:160px;
	text-align:center;
	line-height:35px;
	width:100%;
	padding:15px 0 8px;
	border-top:1px solid #eee;
	background-color:rgba(0,0,0,0.3);
}
.content ul.vision li div.title h2{
	font-size:36px;
	color:#fff;
	margin-bottom:15px;
}
.content ul.vision li div.title span{

	font-size:18px;
	color:#fff;
}
.content ul.vision li div.text{
	width:100%;
	padding:20px 5% 0;
	height:160px;
}
.content ul.vision li div.text p{
	text-align:center;
	line-height:25px;
}
/* OUR TEAM */
.content .team{
	width:100%;
	text-align:center;
}
.content .team h2{
	font-size:30px;
	color:#b89f5f;
	margin-bottom:10px;
}
.content .team span{
	font-size:22px;
	color:#b89f5f;
	display:block;
}
.content ul.mission li{
	position:relative;
	width:100%;
	margin-top:50px;
	overflow:hidden;
}
.content ul.mission li.lt em{
	position:absolute;
	left:42%;
	top:-10px;
	height:120%;
	width:2px;
	background-color:#eee;
	transform:rotateZ(25deg);
	-ms-transform:rotateZ(25deg); 	/* IE 9 */
	-moz-transform:rotateZ(25deg); 	/* Firefox */
	-webkit-transform:rotateZ(25deg); /* Safari 和 Chrome */
	-o-transform:rotateZ(25deg); 	/* Opera */
}
.content ul.mission li.rt em{
	position:absolute;
	right:42%;
	top:-10px;
	height:120%;
	width:2px;
	background-color:#eee;
	transform:rotateZ(-25deg);
	-ms-transform:rotateZ(-25deg); 	/* IE 9 */
	-moz-transform:rotateZ(-25deg); 	/* Firefox */
	-webkit-transform:rotateZ(-25deg); /* Safari 和 Chrome */
	-o-transform:rotateZ(-25deg); 	/* Opera */
}
.content ul.mission li img{
	width:35%;
	padding-bottom:30px;
	border-bottom:2px solid #eee; 
}
.content ul.mission li.lt img{
	float:left;
	padding-right:30px;
}
.content ul.mission li.rt img{
	float:right;
	padding-left:30px;
}
.content ul.mission li .detail{
	width:50%;
}
.content ul.mission li.lt .detail{
	float:right;
	text-align:left;
}
.content ul.mission li.rt .detail{
	float:left;
	text-align:right;
}
.content ul.mission li .detail i{
	width:90%;
	display:block;
	border-top:2px solid #eee;
	height:20px;
}
.content ul.mission li.lt .detail i{
	margin-left:10%;
}
.content ul.mission li.rt .detail i{
	margin-right:10%;
}
.content ul.mission li .detail h2{
	font-size:30px;
	color:#b89f5f;
	border-top:2px solid #eee;
}
.content ul.mission li.lt .detail h2{
	padding:10px 0 10px 100px;
}
.content ul.mission li.rt .detail h2{
	padding:10px 100px 10px 0;
}
.content ul.mission li .detail span{
	display:block;
	font-size:22px;
	color:#999;	
}
.content ul.mission li.lt .detail span{
	margin-left:80px;
}
.content ul.mission li.rt .detail span{
	margin-right:80px;
}
.content ul.mission li .detail dl dd{
	line-height:35px;
}
.content ul.mission li.lt .detail dl dd.TI1{
	margin-left:50px;
}
.content ul.mission li.lt .detail dl dd.TI2{
	margin-left:40px;
}
.content ul.mission li.lt .detail dl dd.TI3{
	margin-left:30px;
}
.content ul.mission li.lt .detail dl dd.TI4{
	margin-left:20px;
}
.content ul.mission li.rt .detail dl dd.TI1{
	margin-right:50px;
}
.content ul.mission li.rt .detail dl dd.TI2{
	margin-right:40px;
}
.content ul.mission li.rt .detail dl dd.TI3{
	margin-right:30px;
}
.content ul.mission li.rt .detail dl dd.TI4{
	margin-right:20px;
}


@media (max-width: 767px){
	.navLeft{
		width:98%;
	}
	.content{
		width:96%;
		margin-left:2%;
	}
}

