/*reset*/
body,p,ol,ul,li,dl,dd,dt,
h1,h2,h3,h4,h5,h6,input,i{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
	outline:none;
	border:0;
	font-style:normal;
}
*{
	font-size:12px;
	color:#666;
	font-family:arial,"Microsoft YaHei";
}
input{
    vertical-align: middle;
}
a{
	text-decoration:none;
}
select,a:focus,a:link{  
    outline:none;
}
img{
	display:block;
}
.clear,
.clear:before,
.clear:after{
	overflow:hidden;
	content:"";
	clear:both;
}
.lf{
	float:left;
}
.rt{
	float:right;
}
body{
	overflow-x:hidden;
}
/****主体style****/
.banner{
	position:relative;
	width:100%;
}
.banner .top{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	background-color:rgba(255,255,255,0.5);
}
.banner .top .logo{
	float:left;
	width:200px;
	height:40px;
	margin-left:3%;
	padding:18px 0 21px 0;
}
.banner .top .logo img{
	width:100%;
}
.banner .top .navOne{
	float:right;
	margin-right:3%;
}
.banner .top .navOne ul{
	height:100%;
}
.banner .top .navOne ul li{
	float:left;
	position:relative;
}
.banner .top .navOne ul li > a{
	font-size:16px;
	line-height:79px;
	text-align:center;
	color:#fff;
	height:79px;
	display:block;
}
.banner .top .navOne ul li dl{
	position:absolute;
	background-color:rgba(0,0,0,.1);
	display:none;
}
.banner .top .navOne ul li > a.current{
	color:#000;
}
.banner .top .navOne ul li:hover > a{
	color:#000;
	background-color:rgba(0,0,0,.1);
}
.banner .top .navOne ul li:hover dl{
	display:block;
}
.banner .top .navOne ul li dl a{
	font-size:14px;
	color:#fff;
	text-align:center;
	height:30px;
	line-height:30px;
	margin:5px 0;
	display:block;
}
.partOne{
	width:100%;
	text-align:center;
	padding-bottom:20px;
}
.partOne img{
	margin:70px auto 50px auto;
}
.partThree h2,
.partFour h2,
.partSix h2,
.partOne h2{
	font-size:50px;
	color:#000;
}
.partThree em,
.partFour em,
.partSix em,
.partOne em{
	display:block;
	width:44px;
	height:6px;
	margin:15px auto 20px auto;
	background-color:#000;
}
.partThree ul,
.partFour ul,
.partSix ul,
.partOne ul{
	overflow:hidden;
	margin:0 auto 50px auto;
}
.partThree ul li:first-child,
.partThree ul li:last-child,
.partFour ul li:first-child,
.partFour ul li:last-child,
.partSix ul li:first-child,
.partSix ul li:last-child,
.partOne ul li:first-child,
.partOne ul li:last-child{
	width:100px;
	height:1px;
	background-color:#000;
}
.partThree ul li:first-child,
.partFour ul li:first-child,
.partSix ul li:first-child,
.partOne ul li:first-child{
	margin-right:20px;
}
.partThree ul li:last-child,
.partFour ul li:last-child,
.partSix ul li:last-child,
.partOne ul li:last-child{
	margin-left:20px;
}
.partThree ul li,
.partFour ul li,
.partSix ul li,
.partOne ul li{
	display:inline-block;
	font-size:26px;
	color:#000;
}
.partOne h3{
	font-size:26px;
	color:#000;
	margin-bottom:10px;
}
.partOne p{
	font-size:26px;
	color:#000;
	margin-bottom:30px;
}
.partOne i{
	display:inline-block;
	width:650px;
	height:2px;
	margin-bottom:20px;
	background-color:#000;
}
.partTwo{
	width:100%;
	background-color:#f5f5f5;
}
.partTwo img{
	width:100%;
}
.partThree,.partFour,.partSix{
	width:100%;
	text-align:center;
	padding-bottom:20px;
	padding-top:150px;
	border-bottom:1px solid #c6c6c6;
}
.partThree dl,
.partFour dl{
	width:1380px;
	margin:0 auto 40px auto;
	overflow:hidden;
}
.partThree dl dd{
	position:relative;
	float:left;
	width:440px;
	height:275px;
	margin:0 10px 10px 10px;
	overflow:hidden;
}
.partThree dl dd .hoverDiv{
	position:absolute;
	left:0;
	top:275px;
	width:94%;
	height:100%;
	padding:0 3%;
	background-color:rgba(0,0,0,0.5);
}
.partThree dl dd .hoverDiv h3{
	font-size:24px;
	color:#fff;
	margin:50px 0 10px 0;
}
.partThree dl dd .hoverDiv span{
	font-size:14px;
	color:#fff;
}
.partThree dl dd .hoverDiv p{
	font-size:16px;
	color:#fff;
	margin:20px 0 30px 0;
}
.partThree dl dd .hoverDiv a{
	font-size:18px;
	color:#fff;
}

.partFour dl dd{
	position:relative;
	float:left;
	width:440px;
	height:510px;
	margin:0 10px 10px 10px;
	background-color:#eee;
	overflow:hidden;
}
.partFour dl dd .news{
	width:360px;
	margin:40px 40px;
}
.partFour dl dd .news h3{
	font-size:26px;
	color:#000;
}
.partFour dl dd .news p{
	font-size:16px;
	color:#666;
	line-height:25px;
	text-align:justify;
	margin-top:20px;
}
.partFour dl dd .news a{
	float:right;
	margin-top:40px;
}
.partSix dl{
	width:1380px;
	margin:0 auto 150px auto;
	overflow:hidden;
}
.partFive{
	overflow:hidden;
	border-bottom:1px solid #c6c6c6;
}
.partFive img{
	width:100%;
}
.partSix dl dd{
	float:left;
	width:276px;
	height:100px;
	margin-bottom:50px;
}
.partSix dl dd img{
	margin:0 auto;
}
.partSix dl dd p{
	margin-top:20px;
}
.partSeven{
	width:100%;
	background-color:#262626;
	overflow:hidden;
}
.partSeven .left{
	float:left;
	margin:55px 0 40px 14%;
}
.partSeven .left img{
	width:150px;
	margin-bottom:15px;
}
.partSeven .left ul li{
	overflow:hidden;
}
.partSeven .left ul li p{
	line-height:35px;
	font-size:14px;
	color:#fff;
	float:left;
}  
.partSeven .left ul li i{
	width:20px;
	height:16px;
	margin:9px 5px 0 0;
	float:left;
}
.partSeven .left ul li i.icon1{
	background:url(../images/icon1.png) no-repeat;
}
.partSeven .left ul li i.icon2{
	background:url(../images/icon2.png) no-repeat;
}
.partSeven .left ul li i.icon3{
	background:url(../images/icon3.png) no-repeat;
}
.partSeven .center{
	float:left;
	margin:100px 0 40px 10%;
}
.partSeven .center ul{
	width:420px;
	overflow:hidden;
}
.partSeven .center ul li{
	float:left;
	width:140px;
}
.partSeven .center ul li a{
	font-size:14px;
	color:#fff;
	line-height:35px;
}
.partSeven .center p{
	font-size:14px;
	color:#fff;
	margin-top:40px;
}
.partSeven .right{
	float:right;
	width:141px;
	margin:60px 14% 40px 0;
	margin-right:14%;
}
.partSeven .right img{
	width:141px;
}
.partSeven .right p{
	width:141px;
	font-size:12px;
	color:#fff;
	text-align:center;
	margin-top:15px;
}

@media screen and (max-width:959px){
	.navOne{
		display:none;
	}
	.navTwo{
		position:relative;
		display:block;
		float:right;
		width:20px;
		height:20px;
		margin:28px 20px 0 0;
	}
	.navTwo span{
		display:block;	
		width:20px;
		height:20px;		
		background:url(../images/more.png) no-repeat;
		cursor:pointer;
	}
	.navTwo ul{
		position:absolute;
		width:230px;
		left:50px;
		top:-28px;
		padding:2px 0 0 0;
		background-color:#333;
	}
	.navTwo ul li{
		border-top: 1px solid rgba(0, 0, 0, 0.3);
	    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	}
	.navTwo ul li > a{
		width:200px;
		font-size:14px;
		height:35px;
		line-height:35px;
		display:block;
		color: #cccccc;
	    padding:0 15px;	    
	}
	.navTwo ul li > a:hover,
	.navTwo ul li > a.current{
		background: #404040;
    	color: #ffffff;
    	outline: none;
	}
	.navTwo ul li dl{
		display:none;
		padding-left:10px;
	}
	.navTwo ul li dl dd a{
		display:block;
		height:30px;
		color: #cccccc;
		padding-left:20px;
		line-height:30px;
	}
	.navTwo ul li dl dd a:hover{
		color:#fff;
	}
	.partThree dl,.partFour dl,.partSix dl{
		width:100%;
	}
}
@media screen and (min-width:960px) and (max-width:1460px){
	.navOne{
		display:block;
	}
	.navTwo{
		display:none;
	}
	.banner .top .navOne ul li > a,
	.banner .top .navOne ul li dl,
	.banner .top .navOne ul li dl a{
		width:100px;
	}
	@media screen and (min-width:1200px){
		.banner .top .navOne ul li > a,
		.banner .top .navOne ul li dl,
		.banner .top .navOne ul li dl a{
			width:120px;
		}
	}
	.partThree dl,.partFour dl,.partSix dl{
		width:100%;
	}

}
@media screen and (min-width:1460px){
	.navOne{
		display:block;
	}
	.navTwo{
		display:none;
	}
	.banner .top .navOne ul li > a,
	.banner .top .navOne ul li dl,
	.banner .top .navOne ul li dl a{
		width:120px;
	}
}
