.holder {
	margin: 15px 0;
}

.holder a {
	font-size: 16px;
	cursor: pointer;
	color: #666;
	border:1px solid #ddd;
	padding: 5px 12px;
	margin-left: -1px;
}

.holder a:hover {
	background-color: #000;
	color: #fff;
}

.holder a.jp-previous {  }
.holder a.jp-next {  }

.holder a.jp-current, a.jp-current:hover { 
	color: #000;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder span { margin: 0 5px; }