/*reset*/
body,p,ol,ul,li,dl,dd,dt,
h1,h2,h3,h4,h5,h6,input,i{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
	outline:none;
	border:0;
	font-style:normal;
}
/* TRADING */
.tradingtitle{
	position:relative;
	width:100%;
	text-align:center;
	margin:70px 0 70px 0;
}
.tradingtitle h2{
	width:100%;
	font-size:30px;
	color:#333;
}
.tradingtitle span{
	font-size:25px;
	color:#999;
	line-height:80px;
	display:block;
	width:100%;
	border-bottom:1px solid #ddd;
}
.tradingtitle i{
	position:absolute;
	left:50%;
	bottom:-16px;
	margin-left:-16px;
	width:32px;
	height:32px;
	background:url(../images/titleIcon.png) no-repeat;
}
.entry-title a{
	font-size:24px;
	color:#333;
	height:60px;
	line-height:60px;
}
.widget-title{
	font-size:24px;
	color:#333;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #ddd;
}
.tag-list{
	margin-top:25px;
}
.excerpt p{
	font-size:12px;
	color:#999;
	line-height:25px;
}
.read-more a{
	float:right;
	font-size:12px;
	color:#999;
}
.list-block li{
	padding:15px 0;
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
.list-block li img{
	float:left;
	width:26%;
}
.list-block li h2{
	float:right;
	line-height:25px;
	width:70%;
	font-size:12px;
	color:#666;
}
.list-block li p{
	float:right;
	width:70%;
	font-size:12px;
	color:#666;
	line-height:30px;
}

